:root {
    --col-bg: #ffffff;
    --col-bg-fg: #222222;
    --col-accent1:  rgb(97,97,97);
    --col-accent1-fg: #000000;
    --col-accent2:  rgb(255, 132, 255);
    --col-accent2-fg: #000000;
    --col-accent3:  mediumslateblue;
    --col-accent3-fg: #ffffff;
    --col-action: firebrick;
    --col-action-fg: #ffffff;
    --col-error: tomato;
    --col-error-fg: #000000;
    --font-body: serif;
    --font-heading: sans-serif;
    --animations: 0.3s;
  }

body {
    background-color: var(--col-bg);
    color: var(--col-bg-fg);
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    line-height: 1.25;
    margin: 0.25em 0;
}

h1 {
    font-size: 1.25em;
}

.branding {
    background-color: var(--col-accent2);
    color: var(--col-accent2-fg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.others {
    background-color: var(--col-accent1);
    color: var(--col-accent1-fg);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    padding-top: 2.1875em;
}
.others .panel {
    overflow-y: scroll;
    opacity: 0;
    transition: opacity var(--animations);
}
.others.open {
left: 0;
}
.others.open .panel {
opacity: 1;
}

.toggle-others {
    background-color: var(--col-accent3);
    color: var(--col-accent3-fg);
    position: fixed;
    top: 0.5em;
    left: 1em;
    line-height: 1.25;
    z-index: 4;
    padding: 0;
    border: none;
    padding: 0 0.5em;
}

.conversation {
    padding: 0 1em;
    margin-top: 2.1875em;
}

.usercard{
  margin: 1em 0 0 0;
  padding: 0 0.3em;
  border: pink;
}

.usercard li{
  display: grid;
  grid-template-columns: 0.15fr 0.75fr 0.10fr;
  grid-gap: 0.7em;
  margin: 0.5em 0;
  
}

.usercard li ::after{
  order: none;
  border-top: 0.2em double #333;
  color: rgb(255, 132, 255);
  overflow: visible;
  text-align: center;
  height: 0.2em;
}

.usercard h3{  
  font-weight: 600;
}

.usercard img{
  background-image: contain;
  border-radius: 4em;
}

.notification{
  margin: 0.8em 0.3em;
  background-color:  rgb(255, 132, 255);
  border-radius: 0.3em;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 40em) {
.others {
    display: block;
    left: 0;
    z-index: 1;
    width: 20em;
    opacity: 1;
    transform: translateX(-20em);
    transition: transform var(--animations);
}
.others.open {
    transform: translateX(0em);
}
.conversation {
    transition: margin-left var(--animations);
}
.others.open ~ .conversation {
    margin-left: 20em;
}
.toggle-others {
    position: absolute;
    top: 3em;
    left: auto;
    right: -1.5em;
    width: 1.5em;
    height: 5em;
    padding: 0.25em;
    text-align: center;
}
.toggle-others span {
    writing-mode: vertical-rl;
} 
}